menu "Lecture5 Configuration"
    menu "WIFI Configuration"
        config WIFI_SSID
            string "WiFi SSID"
            default "SSID"
            help
                SSID (network name) for the example to connect to.

        config WIFI_PASSWORD
            string "WiFi Password"
            default "PASS"
            help
                WiFi password (WPA or WPA2) for the example to use.

        choice WIFI_SAE_MODE
            prompt "WPA3 SAE mode selection"
            default WPA3_SAE_PWE_BOTH
            help
                Select mode for SAE as Hunt and Peck, H2E or both.
            config WPA3_SAE_PWE_HUNT_AND_PECK
                bool "HUNT AND PECK"
            config WPA3_SAE_PWE_HASH_TO_ELEMENT
                bool "H2E"
            config WPA3_SAE_PWE_BOTH
                bool "BOTH"
        endchoice

        config WIFI_PW_ID
            string "PASSWORD IDENTIFIER"
            depends on  WPA3_SAE_PWE_HASH_TO_ELEMENT|| WPA3_SAE_PWE_BOTH
            default ""
            help
                password identifier for SAE H2E

        choice WIFI_SCAN_AUTH_MODE_THRESHOLD
            prompt "WiFi Scan auth mode threshold"
            default WIFI_AUTH_WPA2_PSK
            help
                The weakest authmode to accept in the scan mode.
                This value defaults to WIFI_AUTH_WPA2_PSK incase password is present and WIFI_AUTH_OPEN is used.
                Please select WIFI_AUTH_WEP/WIFI_AUTH_WPA_PSK incase AP is operating in WEP/WPA mode.

            config WIFI_AUTH_OPEN
                bool "OPEN"
            config WIFI_AUTH_WEP
                bool "WEP"
            config WIFI_AUTH_WPA_PSK
                bool "WPA PSK"
            config WIFI_AUTH_WPA2_PSK
                bool "WPA2 PSK"
            config WIFI_AUTH_WPA_WPA2_PSK
                bool "WPA/WPA2 PSK"
            config WIFI_AUTH_WPA3_PSK
                bool "WPA3 PSK"
            config WIFI_AUTH_WPA2_WPA3_PSK
                bool "WPA2/WPA3 PSK"
            config WIFI_AUTH_WAPI_PSK
                bool "WAPI PSK"
        endchoice
    endmenu

    menu "MQTT Configuration"
        config MQTT_BROKER_URL
            string "MQTT Broker URL"
            default "mqtt://test.mosquitto.org"
            help
            URL of the MQTT Broker used
            
        config MQTT_BROKER_USERNAME
            string "MQTT user name"
            default ""
            help
            User name for MQTT broker login

        config MQTT_BROKER_PASSWORD
            string "MQTT password"
            default ""
            help
            Password for MQTT broker login
            
        config MQTT_TOPIC
            string "MQTT Topic"
            default "ESP32/test"
            help
            MQTT Topic used to send the data
    endmenu

    menu "Remote Connection Configuration"
        config IPV4_ADDR
            string "IPV4 Address"
            default "127.0.0.1"
            help
                IPV4 address to which the client example will send data.

        config PORT
            int "Port"
            range 0 65535
            default 15651
            help
                The remote port to which the client example will send data.

        choice TRANSPORT_LAYER
            prompt "Transport Layer"
            default TRANSPORT_MQTT
            help
                Selects the transport layer protocol.

            config TRANSPORT_UDP
                bool "send over UDP"

            config TRANSPORT_TCP
                bool "send over TCP"
        endchoice
    endmenu

    menu "Button Configuration"
    config BUTTON_GPIO_LEFT
        int "Button GPIO"
        default 9
        help
            GPIO the Button is connected to. In the book it is 6, the book development board uses 9

    config BUTTON_GPIO_RIGHT
        int "Button GPIO"
        default 2
        help
            GPIO the Button is connected to. The book development board uses 2

    config ENABLE_GPIO_PULLDOWN
        int "Changes PullUp to PullDown"
        range 0 1
        default 0
        help
            If the Button should be configured to use PullDown. Uses PullUp otherwise.
    endmenu
endmenu
