menu "Lecture7 Configuration"
    orsource "$IDF_PATH/examples/common_components/env_caps/$IDF_TARGET/Kconfig.env_caps"

    menu "Button Configuration"
    config BUTTON_GPIO_LEFT
        int "Button GPIO"
        default 9
        help
            GPIO the Button is connected to. In the book it is 6, the book development board uses 9

    config BUTTON_GPIO_RIGHT
        int "Button GPIO"
        default 2
        help
            GPIO the Button is connected to. The book development board uses 2

    config ENABLE_GPIO_PULLDOWN
        bool "Enable GPIO PullDown"
        default y
        help
            If the Button should be configured to use PullDown. Uses PullUp otherwise.
    endmenu

endmenu
